
<section>
<div class="row">
    {{#each products}}
    <div class="col md-4 ml-2">
    <div class="card mt-3" style="width: 18rem;">
  <img class="card-img-top" src="{{this.image}}" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">{{this.productname}} <i class="ml-4" >${{this.prize}}</i> <small class="ml-4" >({{this.quantity}})</small></h5> 
    <p class="card-text">{{this.description}}.</p>
    <a href="#" class="btn btn-secondary">ADD CART</a>
  </div>
  </div>
    </div>
    {{/each}}
</div>
</section>
